[Unit]
Description=QMK IR Remote Pi web application
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/qmk/IRRemotePi
ExecStart=/home/pi/qmk/IRRemotePi/run.sh
Restart=always

[Install]
WantedBy=multi-user.target